{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="card mx-auto col-md-6 col-sm-12 p-0">
            <div class="card-header">
                <h4>Основное положение</h4>
            </div>
            <div class="card-body">
                <h4 class="text-center text-danger">!!! ВНИМАНИЕ !!!</h4>
                <p class="card-text">
                    При подаче предложения по улучшению запрещено указывать наименование оборудования, изделий и тех.
                    процессы. Это относится к рационализаторским предложениям. Если Вы хотите подать рац. предложение,
                    то в поле «Описание проблемы» напишите «Рац. предложение» (без описания) и с Вами свяжутся лично.
                </p>
                <h4 class="text-center text-danger">!!! ВАЖНО !!!</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body border-top">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                               name="confirmation">
                        <label class="form-check-label" for="flexCheckDefault">
                            Ознакомлен
                        </label>
                    </div>
                </div>
                <div class="card-body border-top d-flex align-items-center">
                    <input type="submit" class="btn btn-primary mx-auto disabled" value="Продолжить" id="submitBtn">
                </div>
            </form>
        </div>
    </div>
    <script>
        let confirmed = document.getElementById('flexCheckDefault');
        let submitBtn = document.getElementById('submitBtn');
        confirmed.addEventListener('change', function (e) {
            if (confirmed.checked) {
                submitBtn.classList.remove('disabled');
            } else {
                submitBtn.classList.add('disabled');
            }
        });
    </script>
{% endblock %}