{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block header %}
    {% endblock %}
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">
            <img src="{% static 'logo.png' %}" alt="" height="24" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>
<div class="container-fluid p-4">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
